.footer__class{
    height: 200px;
	background-color: #cccccc;
    clear: both;
    border-radius: 8px;
}
.footer__class-image
{
    float: left;
    width:30%;
}
.footer__class-image  img{
    width: 90%;
    height: 200px;

}
.footer__class-intro
{
    float: left;
    width:20%;
    height:100px;
	margin-left: 4em;
	color: #554545;
    margin: 0px;
    
}
.footer__class-intro h2
{
    height:20px;
    margin-left:10px;
}
.footer__class-intro2
{
    float: left;
    width:20%;
    color: #554545;
}
.footer__class-intro2 a:hover{
	color: #E6E6E6
}
.footer__class-intro2 a
{
    display: block;
    margin-left: 80px;
}
.footer__class-intro2 h2
{
    text-align: center;
}
.footer__class-links
{
    float:left;
    width:20%;
    color: #554545;

}
body{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}
ul 	:hover{
	color: #E6E6E6;
}
#footer > a:hover{
	color: #E7E7E7;
}
.footer__class-intro h2:hover{
	color: #E6E6E6;
}