html{
    scroll-behavior: smooth;
}
header{
    height: 5%;
    background-color:#FFFFFF;

}
.wrapper{
    width: 100%;
    background-image: #F5F5F5;
}
.header__nav{
    display:flex;
    justify-content:space-between;
    height:50px;
}
.header__nav-list{
    list-style: none;
    color:rgb(12, 12, 12);
    font-size:2px;
} 
.header__nav-item{
    display: inline-block;
    padding-right: 30px;
    font-size: 20px;
}
.header__nav-item-links{
    text-decoration: none;
    color:rgb(12, 12, 12);

}
.header__nav-item-links:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__nav-icon-links{
    color: var(rgb(47, 6, 230));
    text-decoration: none;
}
.header__nav-icon{
   font-size: 1.8rem;
}
.header__nav-item-links-one{
    line-height: 35px;
}
.header__nav-item-links-one span{
    font-size: 15px;
}


.center{
    background-color:#FFFFFF;
    clear: both;
    width: 100%;
    height:100px;
}
.center img{
       position:relative;
       width:162px;   
       margin-left: 20px;
       margin-top:10px;

}
.center div{
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes vid{
from{transform: scale(0); }
to{ transform: scale(1);}
}

.menutop{
    width: 100%;
    height: 50px;
    background-color:#F5F5F5;
    border-radius: 8px;
    font-size: 20px;
}
.menutop__list{
    height:100%;
}
.menutop__list-item{
    display:inline;
    float: left;
    font-size: 16px;
    width:10%;
    height: 100%;    
    line-height: 45px;
    text-decoration: none;   
    text-align: center; 
}
.menutop__list-item{
    text-align: center;
}
a:hover{
    color: #E6E6E6;
}
a{
    border-radius: 8px;
    font-size: 16px;    
    text-decoration: none;
    color: #111111;
}
.menutop__list-item-product{
    position: relative;
    top: 5px;
    width:150px;
    height:150px;
    bottom: 2px;
    animation: danhsach2 0.1s; 
    display: none;
}
.menutop__list-item-sp:hover .menutop__list-item-product{
   display: block;
}
@keyframes danhsach{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@keyframes danhsach2
{
   from {top: 20px;}
   to { top: 10px;}
}
input[type="text"]
{
    margin-top: 15px;
    border-radius: 8px;
    width: 200px;
    height: 20px;
}
.menutop__sp-icon
{
    font-size:25px;
    margin-top:15px;
    margin-left:10px;
}
.menutop__search i
{
    width: 20px;
}
.menutop__search input{
    margin-left: 300px;
}
.menutop__search button
{
    border-radius: 8px;
    
}
.image__introduce
{
    background-color: #111111;
    height: 1000px;
    width:666px;
    margin: auto;
    margin-top:150px;
}
.image__introduce-product-hot
{
    position:relative;
    width: 814px;
    left:50px;
    height:128px;
    margin: auto;
    margin-top: 200px;
}

.content__wrapper
{
    width:85%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.content__item
{
    height:350px;
    background-color:#111111;
    flex-basis: 300px;
    margin: 10px;
    margin-top: 120px;
}
.content__item:hover img
{
   height: 353px;
   border: 2px solid rgb(26, 224, 76);

}
.content__item img{
    border: 1px solid rgb(141, 68, 68);
}

.content__name
{
    font-size:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    height: 30px;
    text-align: center;
}
.content__price{
    width:200px;
    margin: auto;
    display:block;
    border: 1px solid;
    border-radius:10px;
    text-align: center;
    margin-top:10px;
    font-size:13px;
}
.content__button{
    display: flex;
    border-radius:10px;
    background-color:rgb(240, 6, 6);
    margin-left: 110px;
    margin-top:10px;
}
img
{
  width:100%;
  height:100%;
}
#div__arrow
{
     position: fixed;
     top:200px;
     left:40px;
     height:0px;
}
#span__arrow button{
    height:40px;
}
.span_button
{
    clear: both;
    display:flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.span_button button
{
    position: relative;
    width:30px;
    height:30px;
    margin-left:10px ;
    border-radius: 10px;
    color: rgb(14, 12, 12);
}
#span_button-index1
{
   background-color: red;
}
#span_all
{
    clear: both;
    display:flex;
    justify-content: center;
    margin-top: 30px;
    
}
#span_all2
{
    clear: both;
    display:flex;
    justify-content: center;
    margin-top: 30px;
    
}
#span_all-button2
{
    position: relative;
    border-radius: 10px;
    color: rgb(235, 61, 8);
    animation-name:auto;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    top:100px;
}
#span_all-button
{
    position: relative;
    border-radius: 10px;
    color: rgb(235, 61, 8);
    animation-name:auto;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes auto
{
    from{ right:10px}
    to{right:0px}
} 
.image__introduce-product-sale
{
    position: relative;
    margin: auto;
    margin-top: 120px;
    width:699px;
    height: 60px;
}
a,button:hover{
    cursor:pointer;
}
.menutop__list-item-product-span{
    float: left;
}
.menutop__list-item{
    float: left;
    margin-right: 10px;
    list-style: none;
}

.menutop__list-item:hover{
    background-color: #111111;
    border-radius: 8px;
    
}
.menutop__list-item:hover a{
    color: #FFFFFF;
    
}
.menutop__list-item-product-span a{
    color: #111111;
}
.menutop__list-item-product-span
{ 
    display: block;
    clear: both;
    border-bottom: 2px solid black;
}
.menutop__list-item-product-span a{
    color: #111111;
    font-size: 16px;
}
.menutop__list-item-product-span:hover a
{
    color:rgb(253, 13, 13);
    font-size:30px;
}
.image__introduce2 img{
    margin-top: 200px;
}